.card {
  outline: 5px solid limegreen;
}

.form-control {
  border-radius: 0.75rem;
  padding: 0.75rem;
}

.btn {
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-weight: 500;
}

.btn-primary {
  background-color: limegreen;
  border-color: limegreen;
}

.btn-primary:hover {
  background-color: green;
  border-color: green;
}

.btn-primary:disabled {
  background-color: darkgrey;
  border-color: black;
  opacity: 0.65;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

h5 {
  font-weight: 700;
  color: #212529;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.text-muted {
  font-size: 0.875rem;
}

.text-warning {
  color: #ffc107 !important;
}

:host-context(body.dark-mode) textarea {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  padding: 0.75rem;
}
:host-context(body.dark-mode) textarea:focus {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  padding: 0.75rem;
}
