<div class="admin-sidebar">
  <div class="sidebar-header">
    <h3>Admin Panel</h3>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="bi bi-speedometer2"></i>
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users-management">
        <i class="bi bi-people"></i>
        <span class="link-text">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/product-management">
        <i class="bi bi-box-seam"></i>
        <span class="link-text">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/order-management">
        <i class="bi bi-cart-check"></i>
        <span class="link-text">Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/gym-management">
        <i class="fas fa-dumbbell"></i>&nbsp;
        <span class="link-text">Gym Management</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/settings">
        <i class="bi bi-gear"></i>
        <span class="link-text">Settings</span>
      </a>
    </li>
    <li class="nav-item">
      <button class="nav-link" (click)="Logout()">
        <i class="fa-solid fa-right-from-bracket me-3"></i>
        <span class="link-text">Logout</span>
      </button>
    </li>
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="bi bi-collection"></i>
        <span class="link-text">Reports</span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/admin/reports/sales">Sales</a></li>
        <li><a class="dropdown-item" routerLink="/admin/reports/users">User Activity</a></li>
      </ul>
    </li> -->
  </ul>

  <div class="sidebar-footer">
    <a href="#" class="nav-link">
      <i class="bi bi-box-arrow-right"></i>
      <span class="link-text">Logout</span>
    </a>
  </div>

</div>
