/* ===================================================
   ================ HERO SECTION START ====================
   =================================================== */
.blur-background {
  background: rgb(0 0 0 / 80%); /* semi-transparent black */
  backdrop-filter: blur(8px); /* apply blur */
  -webkit-backdrop-filter: blur(8px); /* safari support */
}

/* button design s*/
/* From Uiverse.io by gharsh11032000 */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: limegreen;
  box-shadow: 0 0 0 2px greenyellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: limegreen;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: limegreen;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px limegreen;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* button design e*/

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  margin-right: -8px;
}

/* @media (max-width: 768px) {
  .coaches-hub-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
  }

  .user-circles {
    bottom: -25px;
    padding: 3px 10px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }

  .online-count {
    font-size: 0.75rem;
  }
} */
/* ===================================================
   ================ HERO SECTION END ====================
   =================================================== */

/* ===================================================
   ================ PLANS SECTION END ====================
   =================================================== */
/*radio btn*/
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: var(--container_width);
  overflow: hidden;
  border: 2px solid #fff;
}
:host-context(body.dark-mode) .radio-input {
  color: white;
  background-color: black;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:nth-child(1):has(input:checked) {
  color: white;
}
.radio-input label:nth-child(2):has(input:checked) {
  color: white;
}
.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  background-color: #080;
  display: inline-block;
}
.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  background-color: #fd0;
  display: inline-block;
}
.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / 2));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / 2));
}

/* ===================================================
   ================ PLANS SECTION END ====================
   =================================================== */

/* ===================================================
   ================ Gyms SECTION START ====================
   =================================================== */
#gymsHub {
  min-height: 70vh;
  background-image: url("/assets/imgs/home/image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
:host-context(body.dark-mode) #gymsHub {
  background-image: url("/assets/imgs/home/gymSectionBg.png") !important;
}
.gymHub-text {
  line-height: 1.5;
}

/*vertical slide cards*/
.slider-wrapper {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  height: 500px; /* height of slider */
}

.column {
  flex: 1;
  overflow: hidden;
  position: relative;
  height: 80%;
}

.inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Card style */
.column .inner .card {
  background: #212121;
  color: white;
  font-size: 1.5rem;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  border: 2px solid #fff;
}

/* Animation for first column (up) */
.column.up .inner {
  animation: scroll-up 10s infinite linear;
}

/* Animation for second column (down) */
.column.down .inner {
  animation: scroll-down 10s infinite linear;
}

/* Scroll Up animation */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%); /* Scroll upwards */
  }
}

/* Scroll Down animation */
@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0); /* Scroll upwards */
  }
}

/*button*/

/*button*/

/* ===================================================
   ================ Gyms SECTION END ====================
   =================================================== */
