<section
  id="hero"
  class="bg-black min-vh-100 position-relative d-flex align-items-center overflow-hidden"
>
  <!-- Animated background image start -->
  <div
    class="d-flex justify-content-center align-items-center position-absolute w-100 h-100"
  >
    <h1
      style="font-size: 350px"
      class="fitness-h1 text-uppercase mainColor animate__animated animate__lightSpeedInLeft"
    >
      Fitness
    </h1>
    <img
      class="position-absolute animate__animated animate__fadeIn"
      width="300"
      src="/assets/imgs/home/humanbg.png"
      alt=""
    />
    <div
      class="blur-background position-absolute w-100 h-100 animate__animated animate__fadeInUp animate__delay-2s"
    ></div>
  </div>
  <!-- Animated background image end -->
  <div class="container z-3">
    <div class="row">
      <!-- right-side start -->
      <div
        class="right-side col-lg-6 text-center text-sm-start animate__animated animate__fadeInUp animate__delay-2s"
      >
        <h1 class="text-white text-uppercase">
          Stronger <span class="mainColor">Together</span>
        </h1>
        <h2 class="text-white text-uppercase mb-3">
          Join the Voltmort Community.
        </h2>
        <p class="text-white-50 mb-4 d-none d-sm-block">
          Join our community of fitness enthusiasts and take your fitness
          journey to the next level. Whether you're a beginner or a seasoned
          pro, we have something for everyone.
        </p>
        <button class="animated-button m-auto m-sm-0">
          <svg
            viewBox="0 0 24 24"
            class="arr-2"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
          <span class="text">Coaches Hub</span>
          <span class="circle"></span>
          <svg
            viewBox="0 0 24 24"
            class="arr-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
            ></path>
          </svg>
        </button>
      </div>
      <!-- right-side end -->

      <!-- left-side start -->
      <div
        class="left-side col-lg-6 d-flex justify-content-center d-none d-lg-flex animate__animated animate__fadeInUp animate__delay-2s"
      >
        <div>
          <p class="text-white-50 m-0 mb-1">
            <i class="fa-solid fa-users fs-5"></i> Expert coaches hub
          </p>
          <div class="user-circles d-flex align-items-center mb-1">
            <div
              class="circle"
              style="
                background-image: url('https://images.unsplash.com/photo-1534528741775-53994a69daeb?w=50&h=50&fit=crop');
              "
            ></div>
            <div
              class="circle"
              style="
                background-image: url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=50&h=50&fit=crop');
              "
            ></div>
            <div
              class="circle"
              style="
                background-image: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?w=50&h=50&fit=crop');
              "
            ></div>
            <div class="mx-3 text-white-50">+150 coaches by now</div>
          </div>
          <div class="img-container">
            <img
              class="animate__animated animate__fadeIn rounded-4"
              src="/assets/imgs/home/coaches.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <!-- left-side end -->
    </div>
  </div>
</section>
