<!-- Premium Section Begin -->
<section class="premium-section spad bgColor">
  <div class="container">
    <!-- Premium Member Message -->
    <div *ngIf="isPremium" class="premium-member-message">
      <div class="premium-badge">
        <svg
          class="w-100 h-100"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="800px"
          height="800px"
          viewBox="0 0 128 128"
          enable-background="new 0 0 128 128"
          xml:space="preserve"
          fill="#000000"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0" />

          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          />

          <g id="SVGRepo_iconCarrier">
            <path
              fill="#32cd32"
              d="M112,36c-6.629,0-12,5.375-12,12c0,1.68,0.352,3.273,0.973,4.727L84,60L69.801,34.445 C73.48,32.391,76,28.508,76,24c0-6.625-5.371-12-12-12s-12,5.375-12,12c0,4.508,2.52,8.391,6.199,10.445L44,60l-16.973-7.273 C27.648,51.273,28,49.68,28,48c0-6.625-5.371-12-12-12S4,41.375,4,48s5.371,12,12,12c0.93,0,1.822-0.133,2.695-0.328L28,100v8 c0,4.422,3.582,8,8,8h56c4.418,0,8-3.578,8-8v-8l9.309-40.328C110.176,59.875,111.07,60,112,60c6.629,0,12-5.375,12-12 S118.629,36,112,36z M64,20c2.207,0,4,1.797,4,4s-1.793,4-4,4s-4-1.797-4-4S61.793,20,64,20z M12,48c0-2.203,1.793-4,4-4 s4,1.797,4,4s-1.793,4-4,4S12,50.203,12,48z M92,108H36v-8h56V108z M93.633,92H34.367L27.34,61.563l13.508,5.789 C41.871,67.789,42.941,68,43.996,68c2.828,0,5.547-1.5,6.996-4.117L64,40.477l13.008,23.406C78.457,66.5,81.176,68,84.004,68 c1.055,0,2.125-0.211,3.148-0.648l13.508-5.789L93.633,92z M112,52c-2.207,0-4-1.797-4-4s1.793-4,4-4s4,1.797,4,4S114.207,52,112,52 z"
            />
          </g>
        </svg>
      </div>
      <h2>Welcome, {{ userName }}!</h2>
      <div class="premium-status">
        <span class="status-badge">Premium Member</span>
      </div>
      <p class="premium-message">
        You're already enjoying all the premium benefits!
      </p>
    </div>
    <!-- non premium Account -->
    <div *ngIf="!isPremium">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <span>Premium</span>
            <h2 class="colorBlack">Upgrade to Premium</h2>
            <p class="text-black-50">
              Unlock exclusive features and take your fitness journey to the
              next level
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Premium Features -->
        <div class="col-lg-6">
          <div class="premium-features h-100">
            <h3 class="colorBlack">Premium Benefits</h3>
            <div class="feature-list">
              <div class="feature-item">
                <i class="fas fa-dumbbell colorBlack"></i>
                <div class="feature-content">
                  <h4 class="colorBlack">Proffisional Plans</h4>
                  <p class="text-black-50">
                    Get customized workout and nutrition plans tailored to your
                    goals
                  </p>
                </div>
              </div>
              <div class="feature-item">
                <i class="fas fa-chart-line colorBlack"></i>
                <div class="feature-content">
                  <h4 class="colorBlack">Top serach</h4>
                  <p class="text-black-50">
                    As coach you will be in the top search
                  </p>
                </div>
              </div>
              <div class="feature-item">
                <i class="fa-solid fa-store colorBlack"></i>
                <div class="feature-content">
                  <h4 class="colorBlack">Coach Products</h4>
                  <p class="text-black-50">
                    Sell your products and earn money from your own store
                  </p>
                </div>
              </div>
              <div class="feature-item">
                <i class="fa-solid fa-robot colorBlack"></i>
                <div class="feature-content">
                  <h4 class="colorBlack">Ai Coach</h4>
                  <p class="text-black-50">
                    Get personalized meal plans and nutrition advice from ai
                    coach
                  </p>
                </div>
              </div>
              <div class="feature-item">
                <i class="fas fa-comments colorBlack"></i>
                <div class="feature-content">
                  <h4 class="colorBlack">Priority Support</h4>
                  <p class="text-black-50">
                    24/7 access to premium customer support
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Premium Plans -->
        <div class="col-lg-6">
          <div class="premium-plans h-100">
            <div class="plan-card">
              <div class="plan-header">
                <h3 class="colorBlack">Premium Plan</h3>
                <div class="price">
                  <span class="currency">EGP</span>
                  <span class="amount">500</span>
                  <span class="period text-black-50">/Lifetime</span>
                </div>
              </div>
              <div class="plan-features">
                <ul>
                  <li class="text-black-50">
                    <i class="fas fa-check"></i> All Premium Features
                  </li>
                  <li class="text-black-50">
                    <i class="fas fa-check"></i> Unlimited Workout Plans
                  </li>
                  <li class="text-black-50">
                    <i class="fas fa-check"></i> Custom Meal Plans
                  </li>
                  <li class="text-black-50">
                    <i class="fas fa-check"></i> Progress Tracking
                  </li>
                  <li class="text-black-50">
                    <i class="fas fa-check"></i> Priority Support
                  </li>
                </ul>
              </div>
              <div class="plan-footer">
                <button class="primary-btn" (click)="upgradeToPremium()">
                  Upgrade Now
                </button>
                <p class="guarantee text-black-50">
                  30-day money-back guarantee
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Premium Section End -->
