<section id="wishlist" class="min-vh-100 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <h2 class="mainColor">Your Wishlist<i class="fa-solid fa-clipboard-list fs-1 ms-2"></i></h2>
        <p class="text-black-50">You have {{ wishlistProducts.length }} products in your wishlist.</p>
      </div>


      <!-- Skeleton loading -->
      <ng-container *ngIf="isLoading; else showProducts">
        <div *ngFor="let skeleton of [1,2,3,4]" class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="skeleton-card"></div>
        </div>
      </ng-container>

      <ng-template #showProducts>
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of wishlistProducts">
          <app-product [product]="product" (removedFromWishlist)="removeItemFromWishlist($event)"></app-product>
        </div>
      </ng-template>



    </div>
  </div>
</section>