:host-context(body.dark-mode) #wishlist{
  background-color: black !important;
}
:host-context(body.dark-mode) .card{
  background-color: #202020 !important;
  border: 1px solid hsl(0, 0%, 50%) !important;
}
