<section id="wishlist" class="min-vh-100 py-5">
<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2 class="mainColor">My Wishlist</h2>
      <p class="text-black-50">You have {{ wishlistProducts.length }} products in your wishlist.</p>
    </div>

    <div class="col-md-4" *ngFor="let product of wishlistProducts">
      <app-product
       [product]="product"
      (removedFromWishlist)="removeItemFromWishlist($event)"
      ></app-product>
    </div>


  </div>
</div>
</section>