<section id="clientPlan" class="min-vh-100 bgColor py-5">
  <section class="coachInfo">
    <div class="container">
      <span class="mainColor text-uppercase fw-bold">Coach 🏋🏼</span>
      <h2 class="colorBlack text-capitalize">
        {{ coachData?.coachFirstName }}
      </h2>
      <div class="row g-3 my-2 justify-content-center">
        <div class="col-md-3">
          <div>
            <img
              class="w-100 rounded-4 mb-5"
              [src]="coachData?.aboutMeImageUrl"
              alt=""
            />
          </div>
          <div>
            <div class="rateBtn">
              <div class="btn w-100 mb-3">
                <a class="colorBlack" (click)="showRateForm = !showRateForm">
                  Rate Your Experience</a
                >
              </div>

              <div class="btn w-100">
                <a class="colorBlack" routerLink="/chat"> Chat With Me</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row" class="mainColor text-nowrap">
                  <i class="fa-regular fa-user"></i> Full Name
                </th>
                <td class="text-capitalize">
                  {{ coachData?.coachFirstName }}
                  {{ coachData?.coachLastName }}
                </td>
              </tr>
              <tr>
                <th scope="row" class="mainColor text-nowrap">
                  <i class="fa-regular fa-calendar"></i> Experience
                </th>
                <td>{{ coachData?.experienceYears }}+ Years</td>
              </tr>
              <!-- <tr>
                <th scope="row" class="mainColor">
                  <i class="fa-solid fa-venus-mars"></i> Gender
                </th>
                <td class="text-uppercase">{{ trainingPlan?.coach.gender }}</td>
              </tr> -->

              <tr>
                <th scope="row" class="mainColor text-nowrap">
                  <i class="fa-solid fa-venus-mars"></i> Gender
                </th>
                <td>{{ coachData?.gender == "m" ? "Male" : "Female" }}</td>
              </tr>

              <tr>
                <th scope="row" class="mainColor text-nowrap">
                  <i class="fa-solid fa-lightbulb"></i> Skills
                </th>
                <td>
                  <!-- skills.component.html -->
                  <div>
                    <span
                      *ngFor="let skill of coachSkills"
                      class="badge border border-2 btn-outline-success me-2"
                    >
                      {{ skill }}
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row" class="mainColor text-nowrap">
                  <i class="fa-solid fa-book"></i> Qualification
                </th>
                <td>{{ coachData?.qualifications }}</td>
              </tr>
            </tbody>
          </table>
          <a
            routerLink="/coach/profile/{{ trainingPlan?.coachId }}"
            class="my-4 mainColor btn text-uppercase"
          >
            Go To Coach Profile <i class="fa-solid fa-arrow-right-long"></i>
          </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
          <!-- chart -->
          <div class="p-2 text-center commRate">
            <p class="text-start fs-5">
              <i class="fa-solid fa-medal"></i>
              Plan Commitment rate
            </p>
            <div
              class="pie animate text-center"
              style="--p: {{ progressPercentage }}; --c: limegreen"
            >
              <p class="m-0 text-black-50 fw-bold fs-3">
                {{ progressPercentage || 0 }}%
              </p>
            </div>
          </div>
          <!-- chart -->
        </div>
      </div>
      <app-coach-rating
        *ngIf="showRateForm"
        (showRateFormChange)="onShowRateFormChange(false)"
        [showRateForm]="showRateForm"
        [coachIdFromParent]="trainingPlan.coachId"
      ></app-coach-rating>
    </div>
  </section>

  <!-- Class Timetable Section Begin -->
  <section
    class="class-timetable-section bg-transparent spad"
    *ngIf="trainingPlan"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="section-title">
            <span class="mainColor">Plan 🎯</span>
            <h2 class="colorBlack">{{ trainingPlan.name }}</h2>
            <p class="text-black-50">
              Form
              <span class="colorBlack d-inline">{{
                trainingPlan.startDate | date
              }}</span>
              to
              <span class="colorBlack d-inline"
                >{{ trainingPlan.endDate | date }}
              </span>
            </p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="table-controls">
            <ul class="bg-transparent">
              <li
                class="rounded-pill px-2 py-1"
                *ngFor="let month of months"
                [class.active]="selectedMonth === month"
                (click)="selectMonth(month)"
              >
                Month {{ month }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="class-timetable">
            <table>
              <thead>
                <tr>
                  <th>Week</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
                  <th>Sunday</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let week of getWeeksForSelectedMonth()">
                  <td class="class-time fs-5">
                    Week {{ week.weekNumber }}<br />
                    <small class="colorBlack"
                      >{{ week.startDate | date : "shortDate" }} -
                      {{ week.endDate | date : "shortDate" }}</small
                    >
                  </td>

                  <!-- Monday -->
                  <td
                    class="dark-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 1)"
                    [class.crossed-out]="isDayCrossedOut(week, 1)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 1)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 1)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 1)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Monday</h5>
                      <!-- <div
                        *ngIf="
                          getDayPlan(week, 1)?.parsedData?.exercises?.length > 0
                        "
                        class="plan-summary"
                      >
                        <span class="plan-type"
                          >Exercises:
                          {{
                            getDayPlan(week, 1)?.parsedData?.exercises?.length
                          }}</span
                        >
                        <span
                          *ngIf="
                            getDayPlan(week, 1)?.parsedData?.exercises?.length >
                            0
                          "
                          class="plan-item-name"
                        >
                          {{
                            getDayPlan(week, 1)?.parsedData?.exercises[0]
                              ?.exerciseName
                          }}
                          <span
                            *ngIf="
                              getDayPlan(week, 1)?.parsedData?.exercises
                                ?.length > 1
                            "
                            >+{{
                              getDayPlan(week, 1)?.parsedData?.exercises
                                ?.length - 1
                            }}
                            more</span
                          >
                          <span
                            *ngIf="
                              getDayPlan(week, 1)?.parsedData?.exercises[0]
                                ?.videoLink
                            "
                            class="has-video"
                            >(Has Video)</span
                          >
                        </span>
                      </div> -->
                      <!-- <div
                        *ngIf="
                          getDayPlan(week, 1)?.parsedData?.meals?.length > 0
                        "
                        class="plan-summary"
                      >
                        <span class="plan-type"
                          >Meals:
                          {{
                            getDayPlan(week, 1)?.parsedData?.meals?.length
                          }}</span
                        >
                      </div> -->
                      <button
                        *ngIf="!isDayCrossedOut(week, 1)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 1)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Tuesday -->
                  <td
                    class="hover-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 2)"
                    [class.crossed-out]="isDayCrossedOut(week, 2)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 2)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 2)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 2)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Tuesday</h5>
                      <!-- <div
                        *ngIf="
                          getDayPlan(week, 2)?.parsedData?.exercises?.length > 0
                        "
                        class="plan-summary"
                      >
                        <span class="plan-type"
                          >Exercises:
                          {{
                            getDayPlan(week, 2)?.parsedData?.exercises?.length
                          }}</span
                        >
                        <span
                          *ngIf="
                            getDayPlan(week, 2)?.parsedData?.exercises?.length >
                            0
                          "
                          class="plan-item-name"
                        >
                          {{
                            getDayPlan(week, 2)?.parsedData?.exercises[0]
                              ?.exerciseName
                          }}
                          <span
                            *ngIf="
                              getDayPlan(week, 2)?.parsedData?.exercises
                                ?.length > 1
                            "
                            >+{{
                              getDayPlan(week, 2)?.parsedData?.exercises
                                ?.length - 1
                            }}
                            more</span
                          >
                          <span
                            *ngIf="
                              getDayPlan(week, 2)?.parsedData?.exercises[0]
                                ?.videoLink
                            "
                            class="has-video"
                            >(Has Video)</span
                          >
                        </span>
                      </div> -->
                      <!-- <div
                        *ngIf="
                          getDayPlan(week, 2)?.parsedData?.meals?.length > 0
                        "
                        class="plan-summary"
                      >
                        <span class="plan-type"
                          >Meals:
                          {{
                            getDayPlan(week, 2)?.parsedData?.meals?.length
                          }}</span
                        >
                      </div> -->
                      <button
                        *ngIf="!isDayCrossedOut(week, 2)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 2)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Wednesday -->
                  <td
                    class="dark-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 3)"
                    [class.crossed-out]="isDayCrossedOut(week, 3)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 3)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 3)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 3)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Wednesday</h5>

                      <button
                        *ngIf="!isDayCrossedOut(week, 3)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 3)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Thursday -->
                  <td
                    class="hover-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 4)"
                    [class.crossed-out]="isDayCrossedOut(week, 4)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 4)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 4)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 4)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Thursday</h5>

                      <button
                        *ngIf="!isDayCrossedOut(week, 4)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 4)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Friday -->
                  <td
                    class="dark-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 5)"
                    [class.crossed-out]="isDayCrossedOut(week, 5)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 5)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 5)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 5)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Friday</h5>

                      <button
                        *ngIf="!isDayCrossedOut(week, 5)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 5)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Saturday -->
                  <td
                    class="hover-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 6)"
                    [class.crossed-out]="isDayCrossedOut(week, 6)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 6)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 6)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 6)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Saturday</h5>
                      <button
                        *ngIf="!isDayCrossedOut(week, 6)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 6)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>

                  <!-- Sunday -->
                  <td
                    class="dark-bg"
                    [class.has-plan]="week.hasWeekPlan && hasDayPlan(week, 7)"
                    [class.crossed-out]="isDayCrossedOut(week, 7)"
                  >
                    <!-- Show Day Plan (if exists) -->
                    <div
                      *ngIf="week.hasWeekPlan && hasDayPlan(week, 7)"
                      class="day-plan-info"
                    >
                      <i
                        *ngIf="getDayPlan(week, 7)?.parsedData?.isDone"
                        class="fa-solid fa-circle-check mb-2"
                        style="color: #32cd32"
                      ></i>
                      <i
                        *ngIf="
                          getDayPlan(week, 7)?.parsedData?.isDone === false
                        "
                        class="fa-solid fa-circle mb-2"
                      ></i>
                      <h5>Sunday</h5>
                      <button
                        *ngIf="!isDayCrossedOut(week, 7)"
                        class="view-btn"
                        (click)="viewDayDetails(week, 7)"
                      >
                        View Details
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Class Timetable Section End -->

  <!-- Day Details Modal -->
  <div class="modal-overlay" *ngIf="showDayDetailsModal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          {{ selectedDayOfWeek }} Plan
          <span class="fs-6">{{ selectedDayPlan.dayDate | date }}</span>
        </h3>
        <button class="close-btn" (click)="closeDayDetailsModal()">
          <i class="fa-solid fa-circle-xmark" style="color: #ff0000"></i>
        </button>
      </div>
      <div class="charts text-center p-3">
        <!-- Mark day -->
        <div class="d-flex align-items-center gap-2 mb-3">
          <div class="checkbox-wrapper d-inline-block">
            <input
              type="checkbox"
              [checked]="selectedDayPlan.isDone"
              (change)="markDailyPlan(selectedDayPlan.id)"
            />
            <svg viewBox="0 0 35.6 35.6">
              <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
              <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
              <polyline
                points="11.78 18.12 15.55 22.23 25.17 12.87"
                class="check"
              ></polyline>
            </svg>
          </div>
          <h3>Day Completed</h3>
        </div>

        <!-- Mark day -->
        <div class="row">
          <div class="col-lg-8">
            <div class="paper rounded-4 shadow px-4 py-3">
              <h4 class="mb-3">Coach Notes</h4>
              <p class="text-start text-dark fw-bold" style="line-height: 2.8">
                {{ selectedDayPlan.extraTips }}
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="d-flex gap-2 mb-2">
              <!-- chart -->
              <div class="p-2 shadow rounded-4 w-50">
                <p class="text-start">
                  <i class="fa-solid fa-bolt" style="color: #32cd32"></i> Total
                  Calories
                </p>
                <div
                  class="pie animate text-center"
                  style="--p: 90; --c: #b9e6b9"
                >
                  <p class="m-0 text-black fw-bold fs-5">
                    {{ selectedDayPlan.totalCalories }}
                  </p>
                  <p class="m-0 text-black fw-bold">KCal</p>
                </div>
              </div>
              <!-- chart -->
              <!-- chart -->
              <div class="p-2 shadow rounded-4 w-50">
                <p class="text-start">
                  <i class="fa-solid fa-bacon" style="color: #ed0707"></i> Total
                  Fats
                </p>
                <div
                  class="pie animate text-center"
                  style="--p: 90; --c: #efbbbb"
                >
                  <p class="m-0 text-black fw-bold fs-5">
                    {{ selectedDayPlan.totalFats }}g
                  </p>
                  <p class="m-0 text-black fw-bold">Fats</p>
                </div>
              </div>
              <!-- chart -->
            </div>
            <div class="d-flex gap-2">
              <!-- chart -->
              <div class="p-2 shadow rounded-4 w-50">
                <p class="text-start">
                  <i class="fa-solid fa-bowl-food" style="color: #3267c3"></i>
                  Total Carbs
                </p>
                <div
                  class="pie animate text-center"
                  style="--p: 90; --c: #89a8dd"
                >
                  <p class="m-0 text-black fw-bold fs-5">
                    {{ selectedDayPlan.totalCarbs }}g
                  </p>
                  <p class="m-0 text-black fw-bold">Carbs</p>
                </div>
              </div>
              <!-- chart -->
              <!-- chart -->
              <div class="p-2 shadow rounded-4 w-50">
                <p class="text-start">
                  <i
                    class="fa-solid fa-drumstick-bite"
                    style="color: #c2752e"
                  ></i>
                  Total Protein
                </p>
                <div
                  class="pie animate text-center"
                  style="--p: 90; --c: #ebc6a4"
                >
                  <p class="m-0 text-black fw-bold fs-5">
                    {{ selectedDayPlan.totalProtein }}g
                  </p>
                  <p class="m-0 text-black fw-bold">Protein</p>
                </div>
              </div>
              <!-- chart -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngIf="selectedDayPlan">
        <p *ngIf="selectedDayPlan.extraTips" class="tips">
          <strong>Coach Tips:</strong> {{ selectedDayPlan.extraTips }}
        </p>

        <!-- Exercises Section -->
        <div
          class="section"
          *ngIf="selectedDayPlan.parsedData?.exercises?.length > 0"
        >
          <h4>🏋️ Today's Exercises</h4>
          <div class="row">
            <div
              class="col-lg-6"
              *ngFor="
                let exercise of selectedDayPlan.parsedData.exercises;
                let i = index
              "
            >
              <div class="exercise-item rounded-4 shadow p-3 mb-3">
                <h5>
                  #<span class="fs-5">{{ i + 1 }}</span>
                  {{ exercise.exerciseName }}
                </h5>
                <span class="badge text-bg-primary mb-2">
                  <strong style="color: #666">💪 Muscle Target:</strong>
                  {{ exercise.muscleGroup }}
                </span>
                <!-- <iframe
                  class="rounded-4 w-100"
                  *ngIf="exercise.videoLink"
                  height="315"
                  src="{{ exercise.videoLink }}"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe> -->

                <video width="100%" height="auto" controls>
                  <source
                    src="https://www.w3schools.com/html/mov_bbb.mp4"
                    type="video/mp4"
                  />
                </video>

                <div class="exercise-details d-flex gap-1">
                  <span class="badge text-bg-primary">
                    <strong
                      ><i class="fa-solid fa-arrow-rotate-right"></i>
                      Sets:</strong
                    >
                    {{ exercise.sets }}
                  </span>
                  <span class="badge text-bg-primary">
                    <strong
                      ><i class="fa-solid fa-arrow-up-1-9"></i> Reps:</strong
                    >
                    {{ exercise.reps }}
                  </span>
                  <span class="badge text-bg-primary">
                    <strong>⏱️ Duration:</strong> {{ exercise.duration }} min
                  </span>
                  <!-- <p *ngIf="exercise.videoLink">
                <strong>Video:</strong>
                <a [href]="exercise.videoLink" target="_blank">Watch Video</a>
              </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Meals Section -->
        <div
          class="section"
          *ngIf="selectedDayPlan.parsedData?.meals?.length > 0"
        >
          <h4>🥗 Meals</h4>
          <div class="row">
            <div
              class="col-lg-6"
              *ngFor="
                let meal of selectedDayPlan.parsedData.meals;
                let i = index
              "
            >
              <div class="meal-item rounded-4 shadow p-3 mb-3">
                <h5>
                  #<span class="fs-5">{{ i + 1 }}</span> {{ meal.mealName }}
                </h5>
                <div class="meal-details d-block">
                  <div class="mb-2 d-flex gap-1 flex-wrap">
                    <span class="badge text-bg-primary">
                      <strong>Type:</strong>
                      {{ capitalizeFirstLetter(meal.mealType) }}
                    </span>
                    <span class="badge text-bg-primary">
                      <strong>Quantity:</strong> {{ meal.quantity }}</span
                    >
                  </div>

                  <span class="text-dark-emphasis" *ngIf="meal.notes"
                    ><strong>Notes:</strong> {{ meal.notes }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="
            !selectedDayPlan.parsedData?.exercises?.length &&
            !selectedDayPlan.parsedData?.meals?.length
          "
          class="no-data"
        >
          <p>No exercises or meals have been added to this day.</p>
        </div>
      </div>
    </div>
  </div>
</section>
