/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 1s ease-in;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #343a40;
}

/* Position the header */
#header {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: auto;
    width: 200px;
    /* Adjust this based on your desired header width */
    background-color: transparent;
    /* Set your desired header background */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    /* Optional for shadow */
    z-index: 1000;
}

nav a span {
    visibility: hidden;
    /* Hide text */
    opacity: 0;
    /* Ensure text is invisible */
    transform: translateX(-20px);
    /* Optional: slide text to the left */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    /* Smooth transition */
}

/* When hovering over the link, make the text visible */
nav a:hover span {
    visibility: visible;
    /* Make text visible */
    opacity: 1;
    /* Fade in the text */
    transform: translateX(0);
    /* Slide text back to original position */
}

#navmenu ul {
    padding-left: 0;
}

#navmenu ul li {
    list-style: none;
}

#navmenu ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: blue;
}

/* Change the icon color to blue on hover */
nav a:hover i {
    color: blue;
}

/* Optional: Change the background color on hover */
nav a:hover {
    background-color: #e0f7ff;
    /* Light blue background (optional) */
    transition: all 0.3s ease;
    /* Smooth transition effect */
}

#navmenu ul li a:hover {
    background-color: #5e0808;
    /* Optional hover effect */
}

/* Push content to the right */
.main {
    margin-left: 220px;
    /* Adjust this to match the header width */
    padding: 20px;
}

/* Optional: make the header toggle appear on smaller screens */
.header-toggle {
    display: none;
    /* Hide on larger screens */
}

/* Adjust for smaller screen sizes */
@media (max-width: 1200px) {
    .main {
        margin-left: 60px;
        /* Adjust content spacing on smaller screens */
    }

    #header {
        width: 60px;
        /* Narrow down the header on smaller screens */
    }

    .header-toggle {
        display: block;
        /* Show toggle icon on smaller screens */
    }
}

html {
    scroll-behavior: smooth;
}