:host-context(body.dark-mode) {
  *{
    color: #e2e8f0 !important;
  }


  .edit-form {
    background: #26282c !important;
    border: 1px solid #333 !important;
  }

  input,
   textarea {
    background-color: #1f2023 !important;
    border: 1px solid #444 !important;
    color: #e2e8f0 !important;
  }

  .card, .list-group-item {
    background-color: #232528 !important;
    border: 1px solid #333 !important;
  }

  .sub-card:hover{ 
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.05);
  }
  .plan-title{
    color: #32cd32 !important;
  }


}
.plan-title{
  color: #32cd32 !important;
}
.sub-card {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
.sub-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}