/* Dark mode styles */
:host-context(body.dark-mode) {
  *{
    color: #e2e8f0 !important;
  }
  .title {
    color: #32cd32 !important;
  }

  .add-gym-form {
    background: #26282c !important;
    border: 1px solid #333 !important;
  }

   input,textarea {
    background-color: #1f2023 !important;
    border: 1px solid #444 !important;
    color: #e2e8f0 !important;
  }

  .gym-card {
    background-color: #232528 !important;
    border: 1px solid #333 !important;
  }


}
.gym-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.gym-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
.title {
  color: #32cd32 !important;
}