.admin-layout {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  transition: all 0.3s;
}

.admin-sidebar.collapsed + .main-content {
  margin-left: 70px;
  width: calc(100% - 70px);
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;
    width: calc(100% - 70px);
  }

  .admin-sidebar.expanded + .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
}
