<section id="forgot-password" class="py-5">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="my-3">
      <div class="text-center">
        <a routerLink="/">
          <img width="150" src="/assets/imgs/logo.png" alt="logo" />
        </a>
      </div>
      <h1 class="">Reset Password</h1>
      <form [formGroup]="ResetPassFrom" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="my-3">
            <div class="my-3">
              <label for="password" class="text-black-50">Password</label>
              <input
                class="form-control my-1"
                type="Password"
                id="Password"
                name="Password"
                formControlName="password"
                required
                placeholder="please enter a complex password"
              />
              <div *ngIf="ResetPassFrom.get('password')?.invalid && submitted">
                <small
                  class="text-danger"
                  *ngIf="ResetPassFrom.get('password')?.hasError('required')"
                  >Password is required</small
                >
                <small
                  class="text-danger"
                  *ngIf="ResetPassFrom.get('password')?.hasError('minlength')"
                  >Password must be at least 6 chars</small
                >
                <small
                  class="text-danger"
                  *ngIf="ResetPassFrom.get('password')?.hasError('pattern')"
                >
                  Password must contain at least:
                  <ul style="margin: 0; padding-left: 1rem">
                    <li>1 uppercase letter</li>
                    <li>1 lowercase letter</li>
                    <li>1 number</li>
                    <li>1 special character</li>
                  </ul></small
                >
              </div>
            </div>

            <div class="my-3">
              <label for="confirmPassword" class="text-black-50"
                >Re-Password</label
              >
              <input
                class="form-control my-1"
                type="Password"
                id="confirmPassword"
                name="confirmPassword"
                formControlName="confirmPassword"
                required
              />
              <div
                *ngIf="
                  ResetPassFrom.get('confirmPassword')?.invalid && submitted
                "
              >
                <small
                  class="text-danger d-block"
                  *ngIf="
                    ResetPassFrom.get('confirmPassword')?.hasError('required')
                  "
                  >confirmPassword is required</small
                >

                <small
                  class="text-danger d-block"
                  *ngIf="
                    ResetPassFrom.get('confirmPassword')?.hasError('mismatch')
                  "
                  >Passwords do not match</small
                >
              </div>
            </div>
          </div>
          <p *ngIf="message" class="text-center">
            <i class="fa-solid fa-circle-info"></i> {{ message }}
          </p>

          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="isLoading"
            >
              {{ isLoading ? "Loading..." : "Change password" }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
