:host-context(body.dark-mode) .checkOutTitle{
  color: #63CE34 !important;
}
:host-context(body.dark-mode) #checkOutComponent{
  background-color: black !important;
  color: white;
}
:host-context(body.dark-mode) .card{
  border: none !important;
}

:host-context(body.dark-mode) .card-body{
  color: white !important;
  background-color: #202020 !important;
  box-shadow: #202020 0px 0px 10px 0px !important;
}

:host-context(body.dark-mode) .PaymentMethod{
  background-color: #202020 !important;
  color: white !important;
}

:host-context(body.dark-mode) .list-group-item{
  background-color: #202020 !important;
  color: white !important;
}

:host-context(body.dark-mode) .PaymentMethod h4{
  background-color: #202020 !important;
  color: white !important;
}

.cartTotal{
  padding-bottom: 1vh !important;
}
.text-end{
  border-bottom: #63CE34 1px solid !important;
}