/* ===== Cart Styles ===== */
.cart {
  font-size: 11px;
  width: 20px;
  height: 20px;
  text-align: center;
  align-content: center;
  padding: 4px;
  top: -2px !important;
}

/* ===== Navigation Links ===== */
.nav-link {
  font-size: 18px;
  transition: color 0.5s ease, transform 0.5s ease;
}

.nav-link:hover {
  transform: translateY(-2px);
}

.nav-link:focus {
  border-bottom: 1px solid limegreen;
  /* outline: 2px solid #2dbc2d; */
  outline-offset: 2px;
}

/* ===== Dropdown Styles ===== */
.catdropdown {
  background-color: whitesmoke;
}

.dropdown-item {
  transition: background-color 0.5s ease;
}

.dropdown-item:focus {
  background-color: #e9ecef;
}

/* ===== Icon Hover Effects ===== */
.Cart,
.WishList {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.Cart:hover,
.WishList:hover {
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

.Cart:hover {
  color: limegreen;
}

.WishList:hover {
  color: #ff0000;
}

/* ===== Dark Mode Styles ===== */
:host-context(body.dark-mode) {
  .navbar {
    background-color: #212529;
    border-bottom: 1px solid #444;
  }
  .dropdown-menu {
    width: 100%;
    background-color: #212529;
    color: #f8f9fa !important;
  }
  .dropdown-item {
    background-color: #212529 !important;
    color: white !important;
  }

  .nav-link,
  .dropdown-item {
    color: #f8f9fa !important;
  }

  .dropdown-menu {
    background-color: var(#343a40);
    border: 1px solid var(--navbar-dark-border);
  }

  .dropdown-item:hover {
    background-color: #495057;
  }

  .search-results-dropdown {
    background-color: var(#343a40);
    border-color: var(--navbar-dark-border);
  }

  .search-result-item {
    border-bottom-color: #495057;
  }

  .search-result-item:hover {
    background-color: #495057;
  }

  .search-result-item a {
    color: #f8f9fa;
  }
}

/* ===== Responsive Adjustments ===== */
@media (min-width: 1200px) {
}

@media (max-width: 992px) {
  .navbar-nav {
    padding-top: 10px;
  }
}

.navbar {
  background-color: #ededed;
}
