@import "ngx-toastr/toastr";
@import "bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h-100vh {
  height: 100vh !important;
}
.bgColor {
  background-color: #f8f9fa !important;
}

.mainColor {
  color: limegreen !important;
}
.mainBg {
  background-color: limegreen !important;
}
::placeholder {
  color: rgba(111, 111, 111, 0.5) !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.form-control:focus {
  border-color: limegreen !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(50, 205, 50, 0.3) !important;
}

.btn-outline-success {
  color: limegreen !important;
  border-color: limegreen !important;
  padding: 10px 20px !important;
}
.btn-outline-success:hover {
  color: white !important;
  background-color: limegreen !important;
}

/* meatal text style */
.metal-text {
  line-height: normal;
  background: linear-gradient(
    135deg,
    #d7d7d7,
    #f0f0f0,
    #a8a8a8,
    #e0e0e0,
    #bcbcbc
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*main dark colors*/
.dark-mode .bgColor {
  background-color: black !important;
}
.dark-mode .text-black-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}
.colorBlack {
  color: black !important;
}
.dark-mode .colorBlack {
  color: white !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-step-icon-selected {
  background-color: limegreen !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mat-mdc-notch-piece {
  border-color: limegreen !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label {
  color: limegreen !important;
}
.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element,
.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: #60ff00 !important;
}
.mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  > .mdc-radio__outer-circle,
.mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  > .mdc-radio__inner-circle {
  border-color: #00dd1b !important;
}
.mat-step-icon-state-edit {
  background-color: green !important;
  color: white !important;
}

.mat-step-label.mat-step-label-active {
  color: green !important;
}
.mat-step-label {
  color: gray !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #787878 !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #000000 !important;
  caret-color: #000000 !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: #000000 !important;
  caret-color: #000000 !important;
}
.mat-mdc-select {
  color: #000000 !important;
}
.mat-mdc-button:not(:disabled) {
  color: gray !important;
}
